:root {
    --border-line-color: rgba(128, 128, 128, 0.571);
    --hover-color: rgb(225, 225, 225);
}

fieldset.form-basic-section {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

label[for="fullName"] {
    flex-grow: 1;
    flex-basis: 100%;
    
}

label[for="phone"], label[for="email"] {
    flex: 1 1 40%;
}

label > span {
    margin-bottom: min(10px, 0.5rem);
    font-weight: 500;
}

input {
    padding: 0.125rem 0.75rem;
    line-height: 1.25rem;
    border: 1px solid var(--border-line-color);
    height: 2.5rem;
    transition: background-color, 0.5s ease;
    font-size: 1rem;
}

input:hover {
    background-color: var(--hover-color);
}

.form-basic-section > .button-ctn {
    flex-basis: 100%;
    display: flex;
    justify-content: flex-end;
}

button {
    padding: 0.75rem;
    width: 10em;
    border: 1px solid var(--border-line-color);
    background-color: transparent;
    transition: background-color, 0.5s ease;
    font-weight: 600;
    font-size: 0.8rem;
}

button:hover {
    cursor: pointer;
    background-color: var(--hover-color);
}

