:root {
    --main-accent-color: #ca8a04
}

.main-screen-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    gap: 1rem;
    padding: 2.5rem 3rem;
    min-height: 100%;
}

.main-screen-form > div {
    grid-column: span 2;
    display: flex;
    justify-content: space-around;
}

.main-screen-form > label[for="description"] {
    grid-column: span 2;
}

.main-screen-form > label > textarea[name="description"] {
    flex-grow: 1;
    min-height: 200px;
}

.cv-preview-ctn {
    padding: 2.5rem 3rem;
    min-height: 100%;
}

.cv-ctn {
    box-shadow: 0px 2px 7px 1px rgb(84 84 84 / 41%);
    padding: 1.8rem 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 1.8em;
}

.cv-content-grid, .cv-title-grid {
    display: grid;
    grid-template-columns: 1.5fr 4fr;
    column-gap: 1rem;
    row-gap: 0.8rem;
}

.cv-ctn > header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cv-ctn > header > h1 {
    font-size: 3rem;
    color: var(--main-accent-color);
}

.cv-ctn > header > h1::first-letter {
    color: black;
    background-color: var(--main-accent-color);
    padding: 2px 5px;
    margin-right: 5px;
    font-size: 4rem;
}

.cv-ctn > header > address {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cv-ctn > header > address > a {
    color: black;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.cv-title-grid {
    margin-bottom: 0.5rem;
}

.content-title {
    text-align: end;  
    color: var(--main-accent-color);
}


.cv-entry-titles {
    font-weight: 700;
    margin-bottom: 0.3rem;
}

.cv-entry-titles ~ div {
    line-height: 1.5rem;
}

.separator {
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator > hr {
    flex: 1;
    border: none;
    border-top: 2px solid var(--main-accent-color);
}

.section-ctn {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

@media print {

    .cv-preview-ctn {
        padding: 0px;
    }

    .cv-ctn {
        box-shadow: none;
        width: 100%;
        padding: 1.8rem 1rem;
    }
}